<%= link_to 'Edit this task', edit_task_path %>
<h1><%= @task.title %></h1>
<p><%= @task.details%></p>
<ul>
  <li>
    <%= check_box_tag 'completed', '1', @task.completed, disabled: true %>
    <% if @task.completed %>
    <%= "This task is completed" %>
    <% else %>
    <%= "This task is not completed yet" %>
    <% end %>
  </li>
</ul>
<hr>
<%= link_to 'Back to list', tasks_path %>
